[Server]
Name={{ server_name }}
Description={{ server_description }}
MaxPlayers={{ max_players }}
Port={{ server_port }}
WorldName={{ world_name }}
WorldSize={{ world_size }}
ModIDs={{ mod_ids }}
GameMode={{ game_mode }}
PVE={{ pve }}